{
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "extends": [
    "eslint:recommended",
    "plugin:meteor/recommended",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:import/react",
    "plugin:react/recommended",
    "airbnb",
    "plugin:prettier/recommended",
    "prettier/react"
  ],
  "settings": {
    "import/resolver": {
      "meteor": {
        "extensions": [".js", ".jsx"]
      }
    }
  },
  "globals": {
    "msg": false
  },
  "plugins": ["meteor", "import", "prettier", "i18n", "react", "jsx"],
  "ignorePatterns": ["packages/**/*.js", "packages/**/*.jsx"],
  "rules": {
    "no-restricted-imports": ["error", "@material-ui/core", "@material-ui/icons", "@material-ui/lab"],
    "no-underscore-dangle": "off",
    "react/no-danger": "off",
    "react/jsx-props-no-spreading": "off",
    "no-nested-ternary": "off",
    "prettier/prettier": "error",
    "max-len": [
      "error",
      {
        "code": 120,
        "ignoreComments": true
      }
    ]
  },
  "env": {
    "browser": true,
    "jest": true,
    "meteor": true,
    "es6": true,
    "node": true
  }
}
