{
  "public": {
    "enableKeycloak": true,
    "keycloakUrl": "https://auth.appseducation.fr/auth",
    "keycloakRealm": "apps",
    "laboiteBlogURL": "",
    "enableBBB": true,
    "BBBUrl": "https://bbb-lms-scalelite.visio.education.fr/bigbluebutton/api",
    "minioSSL": false,
    "minioPort": null,
    "minioAccess": "Uhjm4KJ8MV",
    "minioEndPoint": "minio.appseducation.fr",
    "minioBucket": "laboite-dev",
    "imageFilesTypes": ["svg", "png", "jpg", "gif", "jpeg"],
    "audioFilesTypes": ["wav", "mp3", "ogg"],
    "videoFilesTypes": ["mp4", "webm", "avi", "wmv"],
    "textFilesTypes": ["pdf", "odt", "txt", "docx"],
    "otherFilesTypes": ["csv"],
    "minioFileSize": 500000,
    "minioStorageFilesSize": 3000000,
    "maxMinioDiskPerUser": 1000000,
    "NotificationsExpireDays": {
      "setRole": null,
      "unsetRole": null,
      "request": null,
      "group": null,
      "default": null
    },
    "groupPlugins": {
      "rocketChat": {
        "enable": false,
        "URL": "",
        "groupURL": "[URL]/group/[GROUPSLUG]",
        "enableChangeName": true
      },
      "nextcloud": {
        "enable": false,
        "URL": "",
        "groupURL": "[URL]/apps/files/?dir=/[GROUPNAME]",
        "enableChangeName": false
      }
    }
  },
  "keycloak": {
    "pubkey": "MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAvyVtOgah8FjiXmFcnavID9b0lEhCl5k7jISPkPweOQtB1+hRAajcT7Y4v9babrUAXVL7bAb8nRTJVrks3Jl+o/nfZjfLxx7vIE1mMsRGVAqPg88UgyP79fFBvWdPnrIaIweNqlH5r1WoBOVjsoX0rFNijZqQ5llcC/uUYQW35urjGUJIZlHDSOdp34qnrrnohE3714PUuiKHhqFx15MpzmO/KQuIt0lJXuJ3NgAwt1OndksvP03Kkm0ls7IvveF0GiM2dki2xPRAHvv3jC1hLdHm0kGdrn+EndX0xFwBl9kL5zcjILGwm1gyfeJdfzOQrBUf6WL+FpgNseWq5MD+vwIDAQAB",
    "client": "sso",
    "adminEmails": [],
    "adminUser": "",
    "adminPassword": ""
  },
  "nextcloud": {
    "nextcloudUser": "",
    "nextcloudPassword": "",
    "nextcloudQuota": "1073741824"
  },
  "rocketChat": {
    "rocketChatUser": "",
    "rocketChatPassword": ""
  },
  "private": {
    "fillWithFakeData": true,
    "minioSecret": "Pr6SvbtBkutUHmdlN2uYWi5g7oo5EZquMq9k2t00",
    "apiKeys": [
      "849b7648-14b8-4154-9ef2-8d1dc4c2b7e9"
    ],
    "BBBSecret": "",
    "whiteDomains": [
      "^ac-[a-z-]*\\.fr",
      "^[a-z-]*\\.gouv.fr"
    ]
  },
  "smtp":{
    "url": "smtps://USERNAME:PASSWORD@HOST:PORT",
    "fromEmail": "USERNAME",
    "toEmail": "admin@domain.fr"
  }
}
