{
  "public": {
    "enableKeycloak": false,
    "keycloakUrl": "",
    "keycloakRealm": "",
    "laboiteBlogURL": "",
    "enableBBB": false,
    "BBBUrl": "",
    "minioSSL": false,
    "minioPort": null,
    "minioEndPoint": "",
    "minioBucket": "",
    "imageFilesTypes": ["svg", "png", "jpg", "gif", "jpeg"],
    "audioFilesTypes": ["wav", "mp3", "ogg"],
    "videoFilesTypes": ["mp4", "webm", "avi", "wmv"],
    "textFilesTypes": ["pdf", "odt", "txt", "docx"],
    "otherFilesTypes": ["csv"],
    "minioFileSize": 500000,
    "minioStorageFilesSize": 3000000,
    "maxMinioDiskPerUser": 1000000,
    "NotificationsExpireDays": {
      "setRole": null,
      "unsetRole": null,
      "request": null,
      "group": null,
      "default": null
    },
    "groupPlugins": {
      "rocketChat": {
        "enable": false,
        "URL": "",
        "groupURL": "[URL]/group/[GROUPSLUG]",
        "enableChangeName": true
      },
      "nextcloud": {
        "enable": false,
        "URL": "",
        "groupURL": "[URL]/apps/files/?dir=/[GROUPNAME]",
        "enableChangeName": false
      }
    }
  },
  "keycloak": {
    "pubkey": "",
    "client": "sso",
    "adminEmails": [],
    "adminUser": "",
    "adminPassword": ""
  },
  "nextcloud": {
    "nextcloudUser": "",
    "nextcloudPassword": "",
    "nextcloudQuota": "1073741824"
  },
  "rocketChat": {
    "rocketChatUser": "",
    "rocketChatPassword": ""
  },
  "smtp":{
    "url": "smtps://USERNAME:PASSWORD@HOST:PORT",
    "fromEmail": "",
    "toEmail": ""
  },
  "private": {
    "fillWithFakeData": false,
    "minioAccess": "",
    "minioSecret": "",
    "apiKeys": [
      ""
    ],
    "BBBSecret": "",
    "whiteDomains": [
      "^ac-[a-z-]*\\.fr",
      "^[a-z-]*\\.gouv.fr"
    ]
  }
}
